body {
    font-family: arial, sans-serif;
    padding: 5px;
    font-size: 18px;
}

.navigation {
    overflow: hidden;
    background-color: #d9c9f8;
    border-radius: 5px;
}

.navigation a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 15px 18px;
    color: black;
}

.navigation a:hover {
    background-color: #f7f3ff;
    color: black;
}

.navigation2 {
    overflow: hidden;
    background-color: #b4acc5;
    border-radius: 5px;
    width: 232px;
}

.navigation2 a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 10px 13px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.navigation2 a:hover {
    background-color: #f7f3ff;
}

.dismiss {
    float: right;
}

.popup {
    background-color: #f8efc9;
    border-radius: 10px;
    padding: 5px 8px;
    border: 1px solid rgb(43, 43, 43);
    font-size: 15px;
}

.exercise {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.add {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: rgb(43, 43, 43);
    font-size: 15px;
    background-color: #f8efc9;
    border-radius: 5px;
    width: 280px;
}

.delete {
    padding-bottom: 15px;
    padding-left: 30px;
    color: rgb(43, 43, 43);
    font-size: 15px;
}

.content {
    padding: 30px;
}

.info {
    padding-left: 30px;
    padding-top: 10px;
}

.courses {
    padding-left: 30px;
}

.courses a {
    padding: 12px 15px;
    font-size: 20px;
}

.login {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    background-color: #d9c9f8;
    border-radius: 5px;
    width: 450px;
}

.title {
    font-size: 22px;
}

.del {
    background-color: #FADCD9;
    border-radius: 5px;
    font-weight: bold;
}

table, td {
    border: 1px solid black
}