{% extends "layout.html" %}
{% block title %}{{course[0]}}{% endblock %}
{% block page_content %}
    <h1>{{course[0]}}</h1>
    <div class="navigation2">
        <a href="/courses/{{ course[1] }}">Kurssimateriaali</a>
        <a href="/courses/{{course[1]}}/exercises">Tehtävät</a>
    </div>
    <hr>
    <h2>Kurssimateriaali</h2>
    {% if amount[1] %}
        {% for text in content %}
            <text> {{text[0]}} </text>
            <br>
        {% endfor %}
    {% endif %}
    {% if session.teacher %}
        <br>
        <text>Muokkaa kurssia:</text>
        <button onclick="location.href='/edit/{{course[1]}}'">Muokkaa</button>
        <br>
        <text>Poista kurssi:</text>
        <button onclick="location.href='/delete/{{course[1]}}'">Poista</button>
        <br>
    {% endif %}
    <script>
        function check(form) {
            if (form.answer.value.length > 500) {
                alert("Vastaus on liian pitkä");
                return false;
            }
            if (form.answer.value == null) {
                alert("Kysymys on alle viisi merkkiä pitkä");
                return false;
            }
            return true;
        }
        </script>
{% endblock %}
