{% extends "layout.html" %}
{% block title %}Kurssit{% endblock %}
{% block page_content %}
    <h1>Kurssit</h1>
    {% if session.teacher %}
        <div class="info">
            <text>Tässä näet opettamasi kurssit:</text>
        </div>
    {% else %}
        <div class="info">
            <text>Tässä näet saatavilla olevat kurssit:</text>
        </div>
    {% endif %}
    <br>
    <div class="courses">
        <ul>
            {% for course in courses %}
                <li><a href="/courses/{{ course[1] }}">{{ course[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if session.teacher %}
        <div class="add">
            <text>Lisää kurssi tästä:</text>
            <button onclick="location.href='/create_course'">Luo uusi kurssi</button>
        </div>
    {% endif %}
{% endblock %}