{% extends "layout.html" %}
{% block title %}{{course[0]}}{% endblock %}
{% block page_content %}
    <h1>{{course[0]}}</h1>
    {% if amount[1] %}
        {% for text in content %}
            <text> {{text[0]}} </text>
            <br>
        {% endfor %}
    {% endif %}
    {% if amount[0] %}
        <br>
        Kun olet sisäistänyt kurssimateriaalin voit jatkaa kurssitehtäviin. Täältä löydät myös kurssitehtävien ratkomiseen liittyvän datan:  
        <button onclick="location.href='/courses/{{course[1]}}/exercises'">Kurssitehtävät</button>
        <br>
    {% endif %}
    {% if session.teacher %}
        <br>
        <text>Muokkaa kurssia:</text>
        <a href="/edit/{{course[1]}}">Muokkaa</a>
        <br>
        <text>Poista kurssi:</text>
        <a href="/delete/{{course[1]}}">Poista</a>
        <br>
        <text>Lisää kirjallinen tehtävä:</text>
        <a href="/create/question/{{course[1]}}">Lisää</a>
        <br>
        <text>Lisää monivalinta tehtävä:</text>
        <a href="/create/multiple_choice/{{course[1]}}">Lisää</a>
        <br>
    {% endif %}
    <script>
        function check(form) {
            if (form.answer.value.length > 500) {
                alert("Vastaus on liian pitkä");
                return false;
            }
            if (form.answer.value == null) {
                alert("Kysymys on alle viisi merkkiä pitkä");
                return false;
            }
            return true;
        }
        </script>
{% endblock %}
