{% extends "layout.html" %}
{% block title %}Luo tehtävä{% endblock %}
{% block page_content %}
{% if session.teacher %}
    <h2>Luo tehtävä</h2>
    <form action="/add/question/{{ id }}" method="POST" onsubmit="return check(this)">
        Kysymys:
        <input type="text" name="question">
        <br>
        Oikea vastaus:
        <input type="text" name="answer">
        <br>
        <input type="submit" value="Lisää tehtävä">
    </form>
{% else %}
    <text>Vain kurssin opettaja voi luoda kurssitehtäviä</text>
{% endif %}

<script>
    function check(form) {
        if (form.question.value.length > 100) {
            alert("Kysymys on liian pitkä");
            return false;
        }
        if (form.question.value.length < 5) {
            alert("Kysymys on alle viisi merkkiä pitkä");
            return false;
        }
        if (form.answer.value.length > 20) {
            alert("Oikea vastaus on liian pitkä");
            return false;
        }
        if (form.answer.value.length < 3) {
            alert("Oikea vastaus on alle kolme merkkiä pitkä");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
