{% extends "layout.html" %}
{% block title %}Muokkaa kurssia{% endblock %}
{% block page_content %}
{% if session.teacher %}
    <h1>{{content[1]}}</h1>
    <form action="/course_edited/{{content[0]}}" method="POST">
        Kurrssin sisältö:
        <br>
        <textarea name="content" rows="20" cols="100">{{content[2]}}</textarea>
        <br>
        <input type="submit" value="Muokkaa">
    </form>
{% else %}
    <text>Vain kurssin opettaja voi muokata kurssia</text>
{% endif %}
{% endblock %}