{% extends "layout.html" %}
{% block title %}Luo tehtävä{% endblock %}
{% block page_content %}
    <h1>{{course[0]}}</h1>
    <div class="navigation2">
        <a href="/courses/{{ course[1] }}">Kurssimateriaali</a>
        <a href="/courses/{{course[1]}}/exercises">Tehtävät</a>
    </div>
    <br>
    <h2>Tehtävät</h2>
    {% if session.teacher %}
        <h2>Kurssikohtaiset tilastot</h2>
        <h3>Ratkaissut tehtävät</h3>
        <table>
            <tr>
                <th>Opiskelija  |  </th>
                <th>Ratkaissut tehtävät</th>
            </tr>
        {% for student in  statistics[0] %}
            <tr>
                <td>{{student[0]}}</td>
                <td><text style="float: right;">{{student[1]}}</text></td>
            </tr>
        {% endfor %}
        </table>
        <h3>Ratkaissut monivalintatehtävä</h3>
        <table>
            <tr>
                <th>Opiskelija  |  </th>
                <th>Ratkaissut tehtävät</th>
            </tr>
        {% for student in  statistics[1] %}
            <tr>
                <td>{{student[0]}}</td>
                <td><text style="float: right;">{{student[1]}}</text></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <h2>Kurssitehtävät</h2>
    {% for tes in test %}
        <div class="exercise">
            <form action="/submit/question/{{ course[1] }}/{{ tes[1][0] }}" method="POST">
                <b>Tehtävä {{ tes[1][0] }}:</b>
                <br>
                {{ tes[1][1] }}
                <br>
                <input type="text" name="answer">
                <br>
                {% if tes[0] %}
                    <text style="color: green;"> Tehtävä ratkaistu oikein</text>
                {% endif %}
                {% if not session.teacher and not tes[0] %}
                    <input type="submit" value="Vastaa">
                {% endif %}
        </form>
        </div>
        {% if session.teacher %}
            <div class="delete">
                <text>Poista tehtävä:</text>
                <button class="del" onclick="location.href='/delete/question/{{ course[1] }}/{{ tes[1][0] }}'">Poista</button>
                <br>
            </div>
        {% endif %}
    {% endfor %}
    {% if session.teacher %}
        <div class="add">
            <text>Lisää kirjallinen tehtävä:</text>
            <button onclick="location.href='/create/question/{{course[1]}}'">Lisää</button>
            <br>
        </div>
    {% endif %}
    <h2>Monivalintatehtävä</h2>
    {% for m_test in choices %}
        <div class="exercise">
            <form action="/submit/multiple_choice/{{ course[1] }}/{{ m_test[1][0] }}" method="POST">
                <b>Monivalintatehtävä {{ m_test[1][0] }}:</b>
                <br>
                {{ m_test[1][1] }}
                <p>
                    <input type="radio" name="m_answer" value="1"> {{ m_test[1][2] }}
                    <input type="radio" name="m_answer" value="2"> {{ m_test[1][3] }}
                    <input type="radio" name="m_answer" value="3"> {{ m_test[1][4] }}
                </p>
                {% if m_test[0] %}
                    <text style="color: green;"> Tehtävä ratkaistu oikein</text>
                {% endif %}
                {% if not session.teacher and not m_test[0] %}
                    <input type="submit" value="Vastaa">
                {% endif %}
            </form>
        </div>
        {% if session.teacher %}
            <div class="delete">
                <text>Poista tehtävä:</text>
                <button class="del" onclick="location.href='/delete/multiple_choice/{{ course[1] }}/{{ m_test[1][0] }}'">Poista</button>
            </div>
        {% endif %}
    {% endfor %}
    {% if session.teacher %}
        <div class="add">
            <text>Lisää monivalinta tehtävä:</text>
            <button onclick="location.href='/create/multiple_choice/{{course[1]}}'">Lisää</button>
            <br>
        </div>
    {% endif %}
{% endblock %}
