{% extends "layout.html" %}
{% block title %}Luo tehtävä{% endblock %}
{% block page_content %}
    <h1>{{course[0]}}</h1>
    <div class="navigation2">
        <a href="/courses/{{ course[1] }}">Kurssimateriaali</a>
        <a href="/courses/{{course[1]}}/exercises">Tehtävät</a>
    </div>
    <br>
    <h2>Tehtävät</h2>
    <h2>Kurssikohtaiset tilastot</h2>
    {% if session.teacher %}
    <table>
        <tr>
            <th>Oppilas</th>
            <th>Ratkaistujen kurssitehtävien määrä</th>
            <th>Ratkaistut kurssitehtävät</th>
        </tr>
    </table>
    {% else %}
    {% endif %}
    <h2>Kurssitehtävät</h2>
    {% for test in tests %}
        <div class="exercise">
            <form action="/submit/question/{{ course[1] }}/{{ test[0] }}" method="POST">
                <b>Tehtävä {{ test[0] }}:</b>
                <br>
                {{ test[1] }}
                <br>
                <input type="text" name="answer">
                <br>
                <input type="submit" value="Vastaa">
        </form>
        </div>
        {% if session.teacher %}
            <div class="delete">
                <text>Poista tehtävä:</text>
                <button onclick="location.href='/delete/question/{{ course[1] }}/{{ test[0] }}'">Poista</button>
                <br>
            </div>
        {% endif %}
    {% endfor %}
    {% if session.teacher %}
        <div class="add">
            <text>Lisää kirjallinen tehtävä:</text>
            <button onclick="location.href='/create/question/{{course[1]}}'">Lisää</button>
            <br>
        </div>
    {% endif %}
    <h2>Monivalintatehtävä</h2>
    {% for m_test in multiplechoice %}
        <div class="exercise">
            <form action="/submit/multiple_choice/{{ course[1] }}/{{ m_test[0] }}" method="POST">
                <b>Monivalintatehtävä {{ m_test[0] }}:</b>
                <br>
                {{ m_test[1] }}
                <p>
                    <input type="radio" name="m_answer" value="1"> {{ m_test[2] }}
                    <input type="radio" name="m_answer" value="2"> {{ m_test[3] }}
                    <input type="radio" name="m_answer" value="3"> {{ m_test[4] }}
                </p>
                <input type="submit" value="Vastaa">
            </form>
        </div>
        {% if session.teacher %}
            <div class="delete">
                <text>Poista tehtävä:</text>
                <button onclick="location.href='/delete/multiple_choice/{{ course[1] }}/{{ m_test[0] }}'">Poista</button>
            </div>
        {% endif %}
    {% endfor %}
    {% if session.teacher %}
        <div class="add">
            <text>Lisää monivalinta tehtävä:</text>
            <button onclick="location.href='/create/multiple_choice/{{course[1]}}'">Lisää</button>
            <br>
        </div>
    {% endif %}
{% endblock %}
