{% for message in get_flashed_messages() %}
    <div id="popup">
        {{ message }}
        <button onclick="hide()">X</button>
    </div>
{% endfor %}
{% if session.teacher%}
    <title>Uusi kurssi</title>
    <h1>Uusi kurssi</h1>
    <form action="/course_added" method="POST" onsubmit="return check(this)">
        Kurssin nimi:
        <input type="text" name="course_name">
        <br>
        Kurrssin sisältö:
        <br>
        <textarea name="content" rows="20" cols="100"></textarea>
        <br>
        <input type="submit" value="Luo kurssi">
    </form>
{% else %}
    <text>Sinun tulee ensin kirjautua sisään opettajana lisätäksesi kurssin</text>
    <a href="/">Kirjaudu sisään</a>
{% endif %}

<script>
function check(form) {
    if (form.course_name.value.length > 50) {
        alert("Kurssinimi on liian pitkä");
        return false;
    }
    if (form.course_name.value.length < 3) {
        alert("Kurssinimen tulee olla ainakin kolmen merkin pituinen");
        return false;
    }
    return true;
}
function hide() {
    var popup = document.getElementById("popup");
    popup.style.display = "none";
}
</script>