<title>Uusi käyttäjä</title>
<h1>Luo uusi käyttäjä</h1>
<form action="/user_created" method="POST">
    Anna käyttäjätunnus:
    <input type="text" name="name">
    <br>
    Anna salasana:
    <input type="text" name="keyw">
    <br>
    Syötä salasana uudelleen:
    <input type="text" name="keyw_redone">
    <br>
    Käyttäjärooli:
    <p>
        <input type="radio" name="role" value="1"> Oppilas
        <input type="radio" name="role" value="2"> Opettaja
    </p>
    <br>
    <input type="submit" value="Luo käyttäjätunnus">

</form>