{% if session.usersname and session.teacher%}
<title>Tervetuloa</title>
<h1>Tervetuloa {{ session.usersname }}!</h1>
<text>Tässä näet opettamasi kurssit:</text>
<br>
<ul>
    {% for course in courses %}
        <li>{{course[0]}}</li>
    {% endfor %}
</ul>
<text>Lisää kurssi tästä:</text>
<a href="/create_course">Luo uusi kurssi</a>
<br>
<text>Kirjaudu ulos:</text>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<text>Sinun tulee ensin kirjautua sisään opettajana nähdäksesi tämän sivun</text>
<a href="/">Kirjaudu sisään</a>
{% endif %}