{% extends "layout.html" %}
{% block title %}Uusi kurssi{% endblock %}
{% block page_content %}
<h1>Käyttäjätiedot</h1>
<h2>Ratkaissut tehtävät</h2>
<h2>Poista tili</h2>
<div class="delete">
    <text>Poista käyttäjätili. Tilin poistamista ei voi peruuttaa</text>
    <button class="del" onclick="confirmation()">Poista tili</button>
</div>
<script>
    function confirmation() {
        let text = "Oletko varma että haluat poistaa käyttäjätilisi?";
        if (confirm(text) == true) {
            location.replace("/delete_account")
        }
    }
</script>
{% endblock %}